@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  perspective: 1px;
}

.block {
  background: #252e36;
  height: 100vh;
  position: relative;
  padding: 10vw;
  display: grid;
  align-items: center;
  transform-style: preserve-3d;
}

.block > * {
  position: relative;
}

.block::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: 100%;
  box-shadow: 0 2px 8px #000;
}

.block_1,
.block_5 {
  justify-items: center;
  color: #fff;
  text-shadow: 1px 2px 4px #000;
}

.block_1,
.block_3 {
  z-index: 1;
}

.block_3 {
  justify-items: end;
}

.block_1::before {
  background-image: url("../img/1.jpg");
}

.block_2::before {
  background-image: url("../img/2.jpg");
}

.block_3::before {
  background-image: url("../img/3.jpg");
}

.block_4::before {
  background-image: url("../img/4.jpg");
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 80px;
}

.card {
  width: 700px;
  padding: 64px 72px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.6);
  box-shadow: 2px 3px 16px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
}

.card__title {
  font-weight: bold;
  font-size: 42px;
  margin-bottom: 32px;
}

.card__desc {
  font-size: 24px;
  line-height: 1.6em;
}

.block__img {
  position: absolute !important;
  top: 40%;
  left: 20%;
  width: 400px;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}

.block__img:nth-child(2) {
  position: absolute !important;
  top: 50%;
  width: 400px;
}

/* Parallax */
h1 {
  transform: translateZ(0.4px) scale(0.6);
}

.block_2,
.block_4 {
  background-color: transparent;
}

.block_2::before,
.block_4::before {
  transform: translateZ(-1px) scale(2);
}

.block__img {
  transform: rotate(4deg) translateZ(0.25px) scale(0.75);
}

.block__img:nth-child(2) {
  transform: rotate(-8deg) translateZ(0.4px) scale(0.6);
}
